header{ 
    text-align: left;
    font-size: medium;
    color: gold;
    font-family: 'Lucida Console', 'Courier New', monospace;
    background-color: black;
} 

footer{
    text-align: left;
    font-size: small;
    color: white;
    background-color: black;
} 

a{
    color: inherit;
}